.load{
    text-align: center;
    &-button{
        background-color: #18d685;
        border: none;
        border-radius: 20px;
        width: 200px;
        height: 40px;
        color: white;
        margin-top: 150px;
        margin-bottom: 50px;
    }
}